@import "~bootstrap/scss/bootstrap";


* {

  font-family: 'Audiowide';
}


body {

  height: 100%;
  margin: 0;

  background-image: linear-gradient(
    to top,
    #38C98D  , #EBB22C
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-menu {

  background-color: #4A4D4D;
}

.img-linklist {

  margin-top: .5rem;
}


.description-card {

  font-size: 1rem;
}